@import "./variables.scss";

.edit-image {
  text-align: center;
  position: relative;
  height: calc(100% - 66px);
  .hint {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    color: $white;
    letter-spacing: 6px;
    z-index: 1;
    text-align: center;
    font-size: 18px;
  }
}

.modal-buttons {
  padding: 20px 0 0;
}
