@import "./variables.scss";

.thumbnails-track {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: $small) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
