//colors
$primary-color: #e76f51;
$secondary-color: #264653;
$tertiary-color: #2a9d8f;
$white: #fff;
$black: #000;

//fonts
$primary-font: "ADLaM Display", cursive;

// breakpoints
$small: 767px;
$medium: 992px;
$large: 1199px;
